<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HidSharp" version="2.1.0" targetFramework="net48" />
  <package id="LibreHardwareMonitorLib" version="0.8.9" targetFramework="net48" />
  <package id="NvAPIWrapper.Net" version="0.8.1.101" targetFramework="net48" />
  <package id="System.Management" version="5.0.0" targetFramework="net48" />
</packages>